*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: 'Times New Roman', Times, serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.theme-setting.light{
    background-color: white;
    color: black;
}
.theme-setting.dark{
    background-color: black;
    color: white;

}